alert-variant($bg-color, $text-color = #ffffff)
  background-color $bg-color
  color $text-color

.alert
  padding 1em 1.4em
  margin-bottom 0.6em
  border-radius 0.3em
  background-color #e2e2e2

.alert-primary
  alert-variant($color-primary, #ffffff)

.alert-secondary
  alert-variant($color-secondary, #ffffff)

.alert-success
  alert-variant($color-success, #ffffff)

.alert-info
  alert-variant($color-info, #ffffff)

.alert-warning
  alert-variant($color-warning, #ffffff)

.alert-danger
  alert-variant($color-danger, #ffffff)
