@font-face
  font-family 'Roboto'
  src url('../fonts/Roboto/Roboto-Thin.woff2') format('woff2')
  font-weight 100
  font-style normal

@font-face
  font-family 'Roboto'
  src url('../fonts/Roboto/Roboto-ThinItalic.woff2') format('woff2')
  font-weight 100
  font-style italic

@font-face
  font-family 'Roboto'
  src url('../fonts/Roboto/Roboto-Light.woff2') format('woff2')
  font-weight 300
  font-style normal

@font-face
  font-family 'Roboto'
  src url('../fonts/Roboto/Roboto-LightItalic.woff2') format('woff2')
  font-weight 300
  font-style italic

@font-face
  font-family 'Roboto'
  src url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2')
  font-weight 400
  font-style normal

@font-face
  font-family 'Roboto'
  src url('../fonts/Roboto/Roboto-RegularItalic.woff2') format('woff2')
  font-weight 400
  font-style italic

@font-face
  font-family 'Roboto'
  src url('../fonts/Roboto/Roboto-Medium.woff2') format('woff2')
  font-weight 500
  font-style normal

@font-face
  font-family 'Roboto'
  src url('../fonts/Roboto/Roboto-MediumItalic.woff2') format('woff2')
  font-weight 500
  font-style italic

@font-face
  font-family 'Roboto'
  src url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2')
  font-weight 700
  font-style normal

@font-face
  font-family 'Roboto'
  src url('../fonts/Roboto/Roboto-BoldItalic.woff2') format('woff2')
  font-weight 700
  font-style italic

@font-face
  font-family 'Roboto'
  src url('../fonts/Roboto/Roboto-Black.woff2') format('woff2')
  font-weight 900
  font-style normal

@font-face
  font-family 'Roboto'
  src url('../fonts/Roboto/Roboto-BlackItalic.woff2') format('woff2')
  font-weight 900
  font-style italic

.header-home
  height 100vh
  min-height 500px
  background-image url('../img/home-background.jpg')
  background-size cover
  color rgb(255, 255, 255)
  display flex
  flex-direction column
  justify-content center
  position absolute
  top 0
  left 0
  right 0
  z-index -1

.header::after
  content ''
  clear both
  display block

.header-title
  text-align center

.header-title h1
  margin 0
  padding 0
  font-size 3rem

.header-subtitle
  color rgb(233, 233, 233)
  font-size 1.6rem

.header-join
  position absolute
  bottom 0
  left 0
  right 0
  text-align center

.header-page
  padding 0.6em 0 0.6em 0
  margin-bottom 1em
  background rgb(233, 233, 233)

.header-page h1
  margin 0
  font-size 1.4rem

.header-links
  display flex
  align-items center

.social-icons
  margin 0 24px 0 0
  padding 0
  display block
  list-style-type none

.social-item
  margin 0 8px
  padding 0
  display inline-block
  vertical-align middle

.social-item-link
  text-decoration none
  transition all 0.2s
  display block

  &:hover
    transform scale(1.2)
    opacity 0.6

.social-item-icon
  display block
  height 24px

.txt-join
  font-weight bold
  text-transform uppercase
  font-size 1rem

.txt-ip
  margin auto
  padding 0.5em
  max-width 250px
  background rgba(255, 98, 8, 0.6)
  font-size 1.1rem

.txt-versions
  font-size 0.9rem

.wrapper
  margin 0 auto
  padding 0 1em
  max-width 72em

.section-presentation p,
.section-presentation li
  font-size 1rem

.section-presentation h2
  margin 0 0 0.4em 0
  padding 0
  font-size 3rem
  line-height 1
  font-weight normal

.section-presentation .wrapper
  display flex
  flex-direction row

.section-presentation .col-6
  padding 4em 0

.section-dark
  background-color black

.section-dark .col-text
  margin 6em 0
  padding 3em
  background-color rgba(255, 255, 255, 0.6)

.section-presentation img
  width 100%
  display block
  box-sizing border-box

.col-image
  margin-right 3em

.col-6
  width 50%

footer
  margin 1em 0 0 0
  padding 0.4em 0
  background-color rgb(233, 233, 233)
  text-align center

.footer
  position absolute
  bottom 0
  left 0
  right 0
  height 70px

.section
  padding-bottom 100px



ul
  list-style-type square
















.list-products
  margin 1em
  padding 0
  list-style-type none
  text-align center

.list-products li
  margin 1em 1.5em
  padding 0
  display inline-block
  vertical-align middle






.infos-shop
  display flex

.push-right
  flex 1
  float right
  text-align right

.push-right::after
  content ''
  display block
  clear both

.home header.header
  height 100vh
  min-height 500px
























































// Variables
$color-primary = #40a548
$color-secondary = #cf1154
$color-success = #50b941
$color-info = #23abe1
$color-warning = #e4a82f
$color-danger = #d81f1f
$color-danger-darken = #b40000

// Code
*
*::after
*::before
  box-sizing inherit

html
body
  margin 0
  padding 0
  height 100%

html
  font-size 16px
  line-height 1.5
  font-family 'Roboto', sans-serif

.menu-items
  margin 0
  padding 0
  list-style-type none

.menu-item
  display inline-block
  vertical-align top
  text-align left

.menu-item img
  display block

.menu-link
  display block
  color #ffffff
  padding 1.2em 1em
  text-decoration none

.menu-link:hover,
.menu-item-active .menu-link
  background-color darken($color-primary, 30%)
  color #ffffff

.menu-item .dropdown
  display block

.menu-item .dropdown-toggle
  display block

.menu-avatar
  height calc(0.5em * 2 + 2.9em)
  transition all 0.2s

.menu-avatar:hover
  opacity 0.7

.logo
  margin 0
  padding 0
  font-size 1.8rem
  font-weight bold

.logo a
  color #ffffff
  text-decoration none

.logo a:hover
  color #ffffff
  opacity 0.7

.header-menu
  display flex
  flex-direction row

.menu
  padding 0
  background-color $color-primary
  box-shadow 0 0.3em 0.3em 0 rgba(0, 0, 0, 0.4)

.menu .wrapper
  display flex
  padding 0

.header-infos
  font-size 0.9rem

.header-infos-list
  margin 0
  padding 0
  list-style-type none

.header-infos-list-item
  margin 0
  padding 0
  display inline-block

.header-infos-list-item:not(:first-child)::before
  content '—'
  margin 0 0.3em
  display inline-block

a
  color $color-primary

a:hover
  color darken($color-primary, 50%)

p
  margin 0 0 1em 0
  padding 0

ul,
ol
  margin-top 0
  margin-bottom 0.6em
  padding-left 2.4em

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6
  margin 1.2em 0 0.6em 0
  padding 0
  font-weight bold

h1,
.h1
  font-size 2rem

h2,
.h2
  font-size 1.7rem

h3,
.h3
  font-size 1.4rem

h4,
.h4
  font-size 1.2rem

h5,
.h5
  font-size 1.1rem

h6,
.h6
  font-size 1rem

.list-payment-methods
  margin-bottom 1em

.payment-method
  text-align center

.main
  min-height 100%
  position relative





.text-center
  text-align center

.text-right
  text-align right






.filters
  margin 0
  padding 0
  list-style-type none
  text-align center

  & li
    margin 0 0.2em
    padding 0.8em
    display inline-block
    font-weight bold
    cursor pointer

  & li.active
    color $color-secondary

  & li.active::after
    margin 0.3em auto 0 auto
    content ''
    display block
    width 33%
    border-bottom 0.2em solid $color-secondary












.top-bar
  color #ffffff
  background-color darken($color-primary, 25%)

.top-bar .wrapper
  display flex
  flex-wrap wrap
  align-items center

.top-bar .wrapper div
  flex 1 0 0






// cf. https://github.com/Heydon/fukol-grids
.fukol-grid
  display flex
  flex-wrap wrap
  margin -1em

.fukol-grid > *
  flex 1 0 1em
  margin 1em






.lightbox
  padding 2em
  background-color #ffffff
  border-radius 0.3em
  box-shadow 0 0 0 1600px rgba(0, 0, 0, 0.4)
  position fixed
  top 10vh
  bottom 0
  left calc(50% - 20em)
  width 100%
  max-width 40em
  max-height 70vh
  overflow auto
  z-index 2
  box-sizing border-box

.lightbox-link
  cursor pointer
  text-decoration underline

.lightbox-button-container
  margin-bottom 2em

.lightbox h2
  margin-top 0



.text-minecraft-username
  margin 0 auto
  padding 0.3em 0.5em
  font-size 1.5em
  font-weight bold
  max-width auto
  display inline-block
  background-color #d9d9d9








.menu-responsive
  display none

.menu-responsive-menu .dropdown
  display block

.menu-responsive-menu .dropdown-toggle
  display block

.menu-responsive-menu .dropdown-menu
  margin-left 16px




.footer-ad
  margin 2em 0 1.6em 0
  padding 1em
  text-align center
  border-top 0.1em dashed #cccccc

.footer-ad-title
  font-size 1.2em
  margin-bottom 1em
  font-weight bold
  display inline-block

  &::after
    content ''
    margin 0 auto
    display block
    width 20%
    border-bottom 0.2em solid #000000

.footer-ad-insert
  margin-top 0.6em

.text-big
  font-size 1.2em

.mv3
  margin-top 1em
  margin-bottom 1em

.mv4
  margin-top 2em
  margin-bottom 2em

.mv5
  margin-top 3em
  margin-bottom 3em

.mt3
  margin-top 1.5em

.mt2
  margin-top 1.2em




.text-bold
  font-weight bold

.text-italic
  font-style italic
