btn-variant($bg-color, $text-color = #ffffff)
  background-color $bg-color
  border-color $bg-color
  color $text-color
  font-family inherit
  font-size inherit
  line-height inherit
  text-decoration none
  display inline-block
  text-align center
  -webkit-user-select none
  -moz-user-select none
  user-select none

  &:hover
    background-color darken($bg-color, 25%)
    border-color darken($bg-color, 25%)
    color $text-color

  &::-moz-focus-inner
    padding 0
    border 0

.btn
  display block
  text-decoration none
  padding 0.4em 0.6em
  background-color #ffffff
  font-size 1rem
  border-radius 0.3em
  border 0.1em solid #c9c9c9
  cursor pointer

  &:hover
    background-color #ececec
    border-color @background-color

.btn-primary
  btn-variant($color-primary, #ffffff)

.btn-secondary
  btn-variant($color-secondary, #ffffff)

.btn-success
  btn-variant($color-success, #ffffff)

.btn-info
  btn-variant($color-info, #ffffff)

.btn-warning
  btn-variant($color-warning, #ffffff)

.btn-danger
  btn-variant($color-danger, #ffffff)

.btn-danger-darken
  btn-variant($color-danger-darken, #ffffff)

.btn-small
  padding 0.2em 0.4em
  font-size 0.8rem

.btn-large
  padding 0.6em 1em
  font-size 1.2rem
