callout-variant($color)
  border-left-color $color

  & .callout-title
    color $color

.callout
  margin-bottom 1em
  padding 1em
  border 0.1em solid #dddddd
  border-left-width 0.3em
  border-radius 0.3em
  box-shadow 0 0.2em 0 #eeeeee

.callout-primary
  callout-variant($color-primary)

.callout-secondary
  callout-variant($color-secondary)

.callout-success
  callout-variant($color-success)

.callout-info
  callout-variant($color-info)

.callout-warning
  callout-variant($color-warning)

.callout-danger
  callout-variant($color-danger)

.callout-title
  font-size 1.2rem
  margin-top 0
  margin-bottom 0.6em

.callout p:last-child,
.callout ul:last-child,
.callout ol:last-child
  margin-bottom 0
