.cards
  text-align center
  padding-left 0

.card
  margin 1em
  padding 1em
  display inline-block
  transition all 0.2s
  width 16em
  box-shadow 0 0 0.3em 0 rgba(0, 0, 0, 0.3)
  border-radius 0.3em
  background-color #e9e9e9
  color #000000
  text-decoration none
  vertical-align top
  text-align left
  border none
  cursor pointer

  &:hover
    transform scale(1.1)
    z-index 1
    background-color #d8d8d8
    color #000000

.card-image
  width 62%
  display block
  margin 0 auto

.card-title
  margin-top 0

.card-description
  margin-bottom 0
