.dropdown
  position relative
  display inline-block

.dropdown-toggle
  display inline-block
  cursor pointer

.dropdown-menu
  position absolute
  background-color #ffffff
  border-bottom 0.3em solid darken($color-primary, 40%)
  box-shadow 0 1em 1em 0 rgba(0, 0, 0, 0.3)
  left 0
  width 10em

.dropdown-menu-right
  left auto
  right 0

.dropdown-menu ul
  margin 0
  padding 0
  list-style-type none

.dropdown-menu li
  margin 0
  padding 0
  display block

.dropdown-menu a
  margin 0
  padding 0.6em 1em
  display block
  background $color-primary
  color #ffffff
  text-decoration none
  cursor pointer

.dropdown-menu a:hover
.dropdown-menu .menu-item-active a
  background darken($color-primary, 20%)
