.fight
  display flex
  justify-content center
  flex-wrap wrap

.fight-winner
.fight-loser
  margin 1em
  padding 1em
  box-shadow 0 0 0.3em 0 rgba(0, 0, 0, 0.3)
  border-radius 0.3em
  background-color #e9e9e9
  color #000
  min-width 280px

.fight-winner
  background-color #ced5c0

.fight-loser
  background-color #ecd1d1

.fight-vs
  align-self center
  margin 0 36px
  font-size 1.8em


.fight-dates
  text-align center
  color #555
  font-size 0.8em

.fight-metadata
  list-style-type none
  text-align center
  padding-left 0

.fight-metadata-item
  margin 1em
  padding 0.4em 1em
  box-shadow 0 0 0.3em 0 rgba(0, 0, 0, 0.3)
  border-radius 0.3em
  background-color #e9e9e9
  color #000
  max-width 280px
  display inline-block

/*

.fight-winner
  color #040

.fight-loser
  color #400

*/

.fight-status
  text-align center
  font-size 1.6em
  font-weight bold
  margin-bottom 0.7em

.fight-avatar
  text-align center

.fight-username
  text-align center
  font-size 1.4em
  font-weight bold

.fight-winner .fight-username
  color #363

.fight-loser .fight-username
  color #833

.fight-uuid
  text-align center
  font-size 0.7em
  color #999

.fight-elo
  display flex
  list-style-type none
  padding-left 0
  margin-top 1em

.fight-elo-item
  flex 1
  text-align center

.fight-elo-item-migration
  flex 2
