input
textarea
  margin 0.2em 0
  padding 0.4em 0.6em
  font-size 1rem
  border 0.1em solid #aaaaaa
  border-radius 0.3em
  font-family inherit

.form
  color black

.form-group
  color black

.form-label
  padding 0.5em 0
  display inline-block

.form-control
  width 100%

.form-group-helper
  margin 0.2em 0
  color #555555
  font-size 0.8em

.form-control-invalid
  margin 0.2em 0
  font-size 0.8em
  color $color-danger
