highlighted-variant($color)
  &::after
    border-bottom-color $color

.highlighted::after
  content ''
  display block
  border-bottom-width 0.1em
  border-bottom-style solid
  width 20%
  margin 0.4em auto 0 auto

.highlighted-primary
  highlighted-variant($color-primary)

.highlighted-secondary
  highlighted-variant($color-secondary)

.highlighted-success
  highlighted-variant($color-success)

.highlighted-info
  highlighted-variant($color-info)

.highlighted-warning
  highlighted-variant($color-warning)

.highlightedt-danger
  highlighted-variant($color-danger)
