.leaderboard
  display flex
  flex-wrap wrap
  justify-content center

.leaderboard-item
  min-width 300px
  margin 16px

.leaderboard-table
  box-shadow 0 0 4px 0 rgba(0, 0, 0, .4)
  width 100%
  border-collapse collapse

.leaderboard-table th
  background-color #eee

.leaderboard-table th
.leaderboard-table td
  padding 8px

.leaderboard-table tr:nth-child(2n)
  background-color #eee
