.member-cards
  text-align center
  padding-left 0

.member-card
  margin 1em
  padding 1em
  display inline-block
  transition all 0.2s
  width 13em
  box-shadow 0 0 0.3em 0 rgba(0, 0, 0, 0.3)
  border-radius 0.3em
  background-color #e9e9e9
  color #000000
  text-decoration none
  vertical-align top
  text-align left
  border none

.member-card-header
  display flex
  align-items center

.member-card-image
  flex 2
  display block

.member-card-names
  flex 3
  text-align center
  margin-left 16px
  margin-bottom 0

.member-card-names strong
  color rgb(60, 60, 60)

.member-card-name
  margin-bottom 0

.member-card-username
  margin-top 16px
  margin-bottom 0

.member-card-description
  margin-bottom 0
  text-align center
  margin-top 16px
  color rgb(90, 90, 90)
