.product-card
  background repeating-linear-gradient(
    135deg,
    rgb(224, 224, 224),
    rgb(224, 224, 224) 1px,
    rgb(233, 233, 233) 1px,
    rgb(233, 233, 233) 6px)
  max-width 228px
  position relative
  border-radius 6px
  border-bottom 3px solid rgb(200, 200, 200)

.product-card-promotion
  overflow hidden
  position absolute
  top -6px
  left -6px
  width 100%
  height 200px

.product-card-promotion-headband
  position absolute
  left -60px
  top 22px
  background-color #a71112
  font-size 120%
  color #fff
  line-height 20px
  width 200px
  height 36px
  display flex
  align-items center
  justify-content center
  transform rotateZ(-45deg)
  border 6px solid #eabf4f

.product-card-promotion-text {}

.product-card-image
  padding 1em 1em 0 1em

.product-card-image img
  width 100%

.product-card-name
  margin-top 6px
  padding 4px 0
  font-weight bold
  width calc(100% + 10px)
  left -5px
  position relative
  background-color rgb(250, 120, 40)
  text-align center
  color rgb(255, 255, 255)

.product-card-name::before
  content ''
  display block
  width 6px
  height 6px
  position absolute
  background transparent
  bottom -6px
  left 0
  border-top 3px solid rgb(200, 60, 0)
  border-right 3px solid rgb(200, 60, 0)
  border-left 3px solid transparent
  border-bottom 3px solid transparent
  box-sizing border-box

.product-card-name::after
  content ''
  display block
  width 6px
  height 6px
  position absolute
  background transparent
  bottom -6px
  right 0
  border-top 3px solid rgb(200, 60, 0)
  border-left 3px solid rgb(200, 60, 0)
  border-right 3px solid transparent
  border-bottom 3px solid transparent
  box-sizing border-box

.product-card-short-description
  margin 0.8em

.product-card-price-before-promotion
  margin-bottom 6px
  text-decoration line-through
  color rgb(100, 100, 100)

.product-card-buy-container
  margin 0.8em
  position relative

.product-card-buy-button
  padding 8px 16px
  background linear-gradient(to right, rgb(255, 115, 0), rgb(255, 165, 0))
  border none
  color rgb(255, 255, 255)
  transition all 0.265s
  cursor pointer
  display block
  width 100%
  text-align center

.product-card-buy-button:hover
  transform scale(1.08)

.product-card-payment-methods
  margin 0
  padding 16px
  list-style-type none
  display none
  position absolute
  background rgb(255, 255, 255)
  border 1px solid rgb(200, 200, 200)
  top calc(100% + 10px)
  width 100%

.product-card-payment-methods::before
  content ''
  border-style solid
  border-width 11px
  border-color transparent transparent rgb(200, 200, 200) transparent
  position absolute
  top -22px
  left 20px

.product-card-payment-methods::after
  content ''
  border-style solid
  border-width 10px
  border-color transparent transparent rgb(255, 255, 255) transparent
  position absolute
  top -20px
  left 21px
