.recruitment-cards
  text-align center
  padding-left 0

.recruitment-card
  margin 1em 2em
  padding 1em
  display inline-block
  transition all 0.2s
  width 17em
  box-shadow 0 0 0.3em 0 rgba(0, 0, 0, 0.3)
  border-radius 0.3em
  background-color #e9e9e9
  color #000000
  text-decoration none
  vertical-align top
  text-align left
  border none

  &:hover
    transform scale(1.1)
    z-index 1
    background-color #d8d8d8
    color #000000

.recruitment-card-header
  font-weight bold
  text-align center
  font-size 120%

.recruitment-card-image
  text-align center

.recruitment-card-image img
  max-width 100%

.recruitment-card-description
  margin-bottom 0
  text-align center
  margin-top 16px
  color rgb(90, 90, 90)

.recruitment-opening-state
  text-align center
  font-weight bold
  font-size 140%
  margin-top 0.6em

.recruitment-opening-state-opened
  color rgb(0, 100, 0)

.recruitment-opening-state-closed
  color rgb(180, 0, 0)

