@media (max-width 880px)
  .top-bar .wrapper
    flex-direction column

@media (max-width 600px)
  .menu-responsive
    display block

  .menu-unresponsive
    display none

@media (max-width 50em)
  .lightbox
    width 94%
    max-width none
    left 3%

@media (max-width 400px)
  .card
    width 13em
