@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Thin.woff2") format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-ThinItalic.woff2") format('woff2');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Light.woff2") format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-LightItalic.woff2") format('woff2');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-RegularItalic.woff2") format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Medium.woff2") format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-MediumItalic.woff2") format('woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Bold.woff2") format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-BoldItalic.woff2") format('woff2');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Black.woff2") format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-BlackItalic.woff2") format('woff2');
  font-weight: 900;
  font-style: italic;
}
.header-home {
  height: 100vh;
  min-height: 500px;
  background-image: url("../img/home-background.jpg");
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.header::after {
  content: '';
  clear: both;
  display: block;
}
.header-title {
  text-align: center;
}
.header-title h1 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
}
.header-subtitle {
  color: #e9e9e9;
  font-size: 1.6rem;
}
.header-join {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.header-page {
  padding: 0.6em 0 0.6em 0;
  margin-bottom: 1em;
  background: #e9e9e9;
}
.header-page h1 {
  margin: 0;
  font-size: 1.4rem;
}
.header-links {
  display: flex;
  align-items: center;
}
.social-icons {
  margin: 0 24px 0 0;
  padding: 0;
  display: block;
  list-style-type: none;
}
.social-item {
  margin: 0 8px;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}
.social-item-link {
  text-decoration: none;
  transition: all 0.2s;
  display: block;
}
.social-item-link:hover {
  transform: scale(1.2);
  opacity: 0.6;
}
.social-item-icon {
  display: block;
  height: 24px;
}
.txt-join {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
}
.txt-ip {
  margin: auto;
  padding: 0.5em;
  max-width: 250px;
  background: rgba(255,98,8,0.6);
  font-size: 1.1rem;
}
.txt-versions {
  font-size: 0.9rem;
}
.wrapper {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 72em;
}
.section-presentation p,
.section-presentation li {
  font-size: 1rem;
}
.section-presentation h2 {
  margin: 0 0 0.4em 0;
  padding: 0;
  font-size: 3rem;
  line-height: 1;
  font-weight: normal;
}
.section-presentation .wrapper {
  display: flex;
  flex-direction: row;
}
.section-presentation .col-6 {
  padding: 4em 0;
}
.section-dark {
  background-color: #000;
}
.section-dark .col-text {
  margin: 6em 0;
  padding: 3em;
  background-color: rgba(255,255,255,0.6);
}
.section-presentation img {
  width: 100%;
  display: block;
  box-sizing: border-box;
}
.col-image {
  margin-right: 3em;
}
.col-6 {
  width: 50%;
}
footer {
  margin: 1em 0 0 0;
  padding: 0.4em 0;
  background-color: #e9e9e9;
  text-align: center;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
}
.section {
  padding-bottom: 100px;
}
ul {
  list-style-type: square;
}
.list-products {
  margin: 1em;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.list-products li {
  margin: 1em 1.5em;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}
.infos-shop {
  display: flex;
}
.push-right {
  flex: 1;
  float: right;
  text-align: right;
}
.push-right::after {
  content: '';
  display: block;
  clear: both;
}
.home header.header {
  height: 100vh;
  min-height: 500px;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
html {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}
.menu-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.menu-item {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.menu-item img {
  display: block;
}
.menu-link {
  display: block;
  color: #fff;
  padding: 1.2em 1em;
  text-decoration: none;
}
.menu-link:hover,
.menu-item-active .menu-link {
  background-color: #2d7432;
  color: #fff;
}
.menu-item .dropdown {
  display: block;
}
.menu-item .dropdown-toggle {
  display: block;
}
.menu-avatar {
  height: calc(0.5em * 2 + 2.9em);
  transition: all 0.2s;
}
.menu-avatar:hover {
  opacity: 0.7;
}
.logo {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-weight: bold;
}
.logo a {
  color: #fff;
  text-decoration: none;
}
.logo a:hover {
  color: #fff;
  opacity: 0.7;
}
.header-menu {
  display: flex;
  flex-direction: row;
}
.menu {
  padding: 0;
  background-color: #40a548;
  box-shadow: 0 0.3em 0.3em 0 rgba(0,0,0,0.4);
}
.menu .wrapper {
  display: flex;
  padding: 0;
}
.header-infos {
  font-size: 0.9rem;
}
.header-infos-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header-infos-list-item {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.header-infos-list-item:not(:first-child)::before {
  content: '—';
  margin: 0 0.3em;
  display: inline-block;
}
a {
  color: #40a548;
}
a:hover {
  color: #205324;
}
p {
  margin: 0 0 1em 0;
  padding: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0.6em;
  padding-left: 2.4em;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 1.2em 0 0.6em 0;
  padding: 0;
  font-weight: bold;
}
h1,
.h1 {
  font-size: 2rem;
}
h2,
.h2 {
  font-size: 1.7rem;
}
h3,
.h3 {
  font-size: 1.4rem;
}
h4,
.h4 {
  font-size: 1.2rem;
}
h5,
.h5 {
  font-size: 1.1rem;
}
h6,
.h6 {
  font-size: 1rem;
}
.list-payment-methods {
  margin-bottom: 1em;
}
.payment-method {
  text-align: center;
}
.main {
  min-height: 100%;
  position: relative;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.filters {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.filters li {
  margin: 0 0.2em;
  padding: 0.8em;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
}
.filters li.active {
  color: #cf1154;
}
.filters li.active::after {
  margin: 0.3em auto 0 auto;
  content: '';
  display: block;
  width: 33%;
  border-bottom: 0.2em solid #cf1154;
}
.top-bar {
  color: #fff;
  background-color: #307c36;
}
.top-bar .wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.top-bar .wrapper div {
  flex: 1 0 0;
}
.fukol-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -1em;
}
.fukol-grid > * {
  flex: 1 0 1em;
  margin: 1em;
}
.lightbox {
  padding: 2em;
  background-color: #fff;
  border-radius: 0.3em;
  box-shadow: 0 0 0 1600px rgba(0,0,0,0.4);
  position: fixed;
  top: 10vh;
  bottom: 0;
  left: calc(50% - 20em);
  width: 100%;
  max-width: 40em;
  max-height: 70vh;
  overflow: auto;
  z-index: 2;
  box-sizing: border-box;
}
.lightbox-link {
  cursor: pointer;
  text-decoration: underline;
}
.lightbox-button-container {
  margin-bottom: 2em;
}
.lightbox h2 {
  margin-top: 0;
}
.text-minecraft-username {
  margin: 0 auto;
  padding: 0.3em 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  max-width: auto;
  display: inline-block;
  background-color: #d9d9d9;
}
.menu-responsive {
  display: none;
}
.menu-responsive-menu .dropdown {
  display: block;
}
.menu-responsive-menu .dropdown-toggle {
  display: block;
}
.menu-responsive-menu .dropdown-menu {
  margin-left: 16px;
}
.footer-ad {
  margin: 2em 0 1.6em 0;
  padding: 1em;
  text-align: center;
  border-top: 0.1em dashed #ccc;
}
.footer-ad-title {
  font-size: 1.2em;
  margin-bottom: 1em;
  font-weight: bold;
  display: inline-block;
}
.footer-ad-title::after {
  content: '';
  margin: 0 auto;
  display: block;
  width: 20%;
  border-bottom: 0.2em solid #000;
}
.footer-ad-insert {
  margin-top: 0.6em;
}
.text-big {
  font-size: 1.2em;
}
.mv3 {
  margin-top: 1em;
  margin-bottom: 1em;
}
.mv4 {
  margin-top: 2em;
  margin-bottom: 2em;
}
.mv5 {
  margin-top: 3em;
  margin-bottom: 3em;
}
.mt3 {
  margin-top: 1.5em;
}
.mt2 {
  margin-top: 1.2em;
}
.text-bold {
  font-weight: bold;
}
.text-italic {
  font-style: italic;
}
.callout {
  margin-bottom: 1em;
  padding: 1em;
  border: 0.1em solid #ddd;
  border-left-width: 0.3em;
  border-radius: 0.3em;
  box-shadow: 0 0.2em 0 #eee;
}
.callout-primary {
  border-left-color: #40a548;
}
.callout-primary .callout-title {
  color: #40a548;
}
.callout-secondary {
  border-left-color: #cf1154;
}
.callout-secondary .callout-title {
  color: #cf1154;
}
.callout-success {
  border-left-color: #50b941;
}
.callout-success .callout-title {
  color: #50b941;
}
.callout-info {
  border-left-color: #23abe1;
}
.callout-info .callout-title {
  color: #23abe1;
}
.callout-warning {
  border-left-color: #e4a82f;
}
.callout-warning .callout-title {
  color: #e4a82f;
}
.callout-danger {
  border-left-color: #d81f1f;
}
.callout-danger .callout-title {
  color: #d81f1f;
}
.callout-title {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0.6em;
}
.callout p:last-child,
.callout ul:last-child,
.callout ol:last-child {
  margin-bottom: 0;
}
.btn {
  display: block;
  text-decoration: none;
  padding: 0.4em 0.6em;
  background-color: #fff;
  font-size: 1rem;
  border-radius: 0.3em;
  border: 0.1em solid #c9c9c9;
  cursor: pointer;
}
.btn:hover {
  background-color: #ececec;
  border-color: #ececec;
}
.btn-primary {
  background-color: #40a548;
  border-color: #40a548;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.btn-primary:hover {
  background-color: #307c36;
  border-color: #307c36;
  color: #fff;
}
.btn-primary::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.btn-secondary {
  background-color: #cf1154;
  border-color: #cf1154;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.btn-secondary:hover {
  background-color: #9b0d3f;
  border-color: #9b0d3f;
  color: #fff;
}
.btn-secondary::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.btn-success {
  background-color: #50b941;
  border-color: #50b941;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.btn-success:hover {
  background-color: #3c8b31;
  border-color: #3c8b31;
  color: #fff;
}
.btn-success::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.btn-info {
  background-color: #23abe1;
  border-color: #23abe1;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.btn-info:hover {
  background-color: #1781ac;
  border-color: #1781ac;
  color: #fff;
}
.btn-info::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.btn-warning {
  background-color: #e4a82f;
  border-color: #e4a82f;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.btn-warning:hover {
  background-color: #b78218;
  border-color: #b78218;
  color: #fff;
}
.btn-warning::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.btn-danger {
  background-color: #d81f1f;
  border-color: #d81f1f;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.btn-danger:hover {
  background-color: #a21717;
  border-color: #a21717;
  color: #fff;
}
.btn-danger::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.btn-danger-darken {
  background-color: #b40000;
  border-color: #b40000;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.btn-danger-darken:hover {
  background-color: #870000;
  border-color: #870000;
  color: #fff;
}
.btn-danger-darken::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.btn-small {
  padding: 0.2em 0.4em;
  font-size: 0.8rem;
}
.btn-large {
  padding: 0.6em 1em;
  font-size: 1.2rem;
}
.alert {
  padding: 1em 1.4em;
  margin-bottom: 0.6em;
  border-radius: 0.3em;
  background-color: #e2e2e2;
}
.alert-primary {
  background-color: #40a548;
  color: #fff;
}
.alert-secondary {
  background-color: #cf1154;
  color: #fff;
}
.alert-success {
  background-color: #50b941;
  color: #fff;
}
.alert-info {
  background-color: #23abe1;
  color: #fff;
}
.alert-warning {
  background-color: #e4a82f;
  color: #fff;
}
.alert-danger {
  background-color: #d81f1f;
  color: #fff;
}
.highlighted::after {
  content: '';
  display: block;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  width: 20%;
  margin: 0.4em auto 0 auto;
}
.highlighted-primary::after {
  border-bottom-color: #40a548;
}
.highlighted-secondary::after {
  border-bottom-color: #cf1154;
}
.highlighted-success::after {
  border-bottom-color: #50b941;
}
.highlighted-info::after {
  border-bottom-color: #23abe1;
}
.highlighted-warning::after {
  border-bottom-color: #e4a82f;
}
.highlightedt-danger::after {
  border-bottom-color: #d81f1f;
}
input,
textarea {
  margin: 0.2em 0;
  padding: 0.4em 0.6em;
  font-size: 1rem;
  border: 0.1em solid #aaa;
  border-radius: 0.3em;
  font-family: inherit;
}
.form {
  color: #000;
}
.form-group {
  color: #000;
}
.form-label {
  padding: 0.5em 0;
  display: inline-block;
}
.form-control {
  width: 100%;
}
.form-group-helper {
  margin: 0.2em 0;
  color: #555;
  font-size: 0.8em;
}
.form-control-invalid {
  margin: 0.2em 0;
  font-size: 0.8em;
  color: #d81f1f;
}
.cards {
  text-align: center;
  padding-left: 0;
}
.card {
  margin: 1em;
  padding: 1em;
  display: inline-block;
  transition: all 0.2s;
  width: 16em;
  box-shadow: 0 0 0.3em 0 rgba(0,0,0,0.3);
  border-radius: 0.3em;
  background-color: #e9e9e9;
  color: #000;
  text-decoration: none;
  vertical-align: top;
  text-align: left;
  border: none;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.1);
  z-index: 1;
  background-color: #d8d8d8;
  color: #000;
}
.card-image {
  width: 62%;
  display: block;
  margin: 0 auto;
}
.card-title {
  margin-top: 0;
}
.card-description {
  margin-bottom: 0;
}
.product-card {
  background: repeating-linear-gradient(135deg, #e0e0e0, #e0e0e0 1px, #e9e9e9 1px, #e9e9e9 6px);
  max-width: 228px;
  position: relative;
  border-radius: 6px;
  border-bottom: 3px solid #c8c8c8;
}
.product-card-promotion {
  overflow: hidden;
  position: absolute;
  top: -6px;
  left: -6px;
  width: 100%;
  height: 200px;
}
.product-card-promotion-headband {
  position: absolute;
  left: -60px;
  top: 22px;
  background-color: #a71112;
  font-size: 120%;
  color: #fff;
  line-height: 20px;
  width: 200px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateZ(-45deg);
  border: 6px solid #eabf4f;
}
.product-card-image {
  padding: 1em 1em 0 1em;
}
.product-card-image img {
  width: 100%;
}
.product-card-name {
  margin-top: 6px;
  padding: 4px 0;
  font-weight: bold;
  width: calc(100% + 10px);
  left: -5px;
  position: relative;
  background-color: #fa7828;
  text-align: center;
  color: #fff;
}
.product-card-name::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  position: absolute;
  background: transparent;
  bottom: -6px;
  left: 0;
  border-top: 3px solid #c83c00;
  border-right: 3px solid #c83c00;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  box-sizing: border-box;
}
.product-card-name::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  position: absolute;
  background: transparent;
  bottom: -6px;
  right: 0;
  border-top: 3px solid #c83c00;
  border-left: 3px solid #c83c00;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  box-sizing: border-box;
}
.product-card-short-description {
  margin: 0.8em;
}
.product-card-price-before-promotion {
  margin-bottom: 6px;
  text-decoration: line-through;
  color: #646464;
}
.product-card-buy-container {
  margin: 0.8em;
  position: relative;
}
.product-card-buy-button {
  padding: 8px 16px;
  background: linear-gradient(to right, #ff7300, #ffa500);
  border: none;
  color: #fff;
  transition: all 0.265s;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: center;
}
.product-card-buy-button:hover {
  transform: scale(1.08);
}
.product-card-payment-methods {
  margin: 0;
  padding: 16px;
  list-style-type: none;
  display: none;
  position: absolute;
  background: #fff;
  border: 1px solid #c8c8c8;
  top: calc(100% + 10px);
  width: 100%;
}
.product-card-payment-methods::before {
  content: '';
  border-style: solid;
  border-width: 11px;
  border-color: transparent transparent #c8c8c8 transparent;
  position: absolute;
  top: -22px;
  left: 20px;
}
.product-card-payment-methods::after {
  content: '';
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: -20px;
  left: 21px;
}
.member-cards {
  text-align: center;
  padding-left: 0;
}
.member-card {
  margin: 1em;
  padding: 1em;
  display: inline-block;
  transition: all 0.2s;
  width: 13em;
  box-shadow: 0 0 0.3em 0 rgba(0,0,0,0.3);
  border-radius: 0.3em;
  background-color: #e9e9e9;
  color: #000;
  text-decoration: none;
  vertical-align: top;
  text-align: left;
  border: none;
}
.member-card-header {
  display: flex;
  align-items: center;
}
.member-card-image {
  flex: 2;
  display: block;
}
.member-card-names {
  flex: 3;
  text-align: center;
  margin-left: 16px;
  margin-bottom: 0;
}
.member-card-names strong {
  color: #3c3c3c;
}
.member-card-name {
  margin-bottom: 0;
}
.member-card-username {
  margin-top: 16px;
  margin-bottom: 0;
}
.member-card-description {
  margin-bottom: 0;
  text-align: center;
  margin-top: 16px;
  color: #5a5a5a;
}
.recruitment-cards {
  text-align: center;
  padding-left: 0;
}
.recruitment-card {
  margin: 1em 2em;
  padding: 1em;
  display: inline-block;
  transition: all 0.2s;
  width: 17em;
  box-shadow: 0 0 0.3em 0 rgba(0,0,0,0.3);
  border-radius: 0.3em;
  background-color: #e9e9e9;
  color: #000;
  text-decoration: none;
  vertical-align: top;
  text-align: left;
  border: none;
}
.recruitment-card:hover {
  transform: scale(1.1);
  z-index: 1;
  background-color: #d8d8d8;
  color: #000;
}
.recruitment-card-header {
  font-weight: bold;
  text-align: center;
  font-size: 120%;
}
.recruitment-card-image {
  text-align: center;
}
.recruitment-card-image img {
  max-width: 100%;
}
.recruitment-card-description {
  margin-bottom: 0;
  text-align: center;
  margin-top: 16px;
  color: #5a5a5a;
}
.recruitment-opening-state {
  text-align: center;
  font-weight: bold;
  font-size: 140%;
  margin-top: 0.6em;
}
.recruitment-opening-state-opened {
  color: #006400;
}
.recruitment-opening-state-closed {
  color: #b40000;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-toggle {
  display: inline-block;
  cursor: pointer;
}
.dropdown-menu {
  position: absolute;
  background-color: #fff;
  border-bottom: 0.3em solid #26632b;
  box-shadow: 0 1em 1em 0 rgba(0,0,0,0.3);
  left: 0;
  width: 10em;
}
.dropdown-menu-right {
  left: auto;
  right: 0;
}
.dropdown-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.dropdown-menu li {
  margin: 0;
  padding: 0;
  display: block;
}
.dropdown-menu a {
  margin: 0;
  padding: 0.6em 1em;
  display: block;
  background: #40a548;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.dropdown-menu a:hover,
.dropdown-menu .menu-item-active a {
  background: #33843a;
}
.summary-table {
  width: 100%;
  border-collapse: collapse;
}
.summary-table tr {
  background-color: #eee;
}
.summary-table tr:nth-child(odd) {
  background-color: #fff;
}
.summary-table th,
.summary-table td {
  padding: 8px;
}
.summary-table th {
  border: 1px solid #ddd;
}
.summary-table td {
  border: 1px solid #ddd;
}
.leaderboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.leaderboard-item {
  min-width: 300px;
  margin: 16px;
}
.leaderboard-table {
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.4);
  width: 100%;
  border-collapse: collapse;
}
.leaderboard-table th {
  background-color: #eee;
}
.leaderboard-table th,
.leaderboard-table td {
  padding: 8px;
}
.leaderboard-table tr:nth-child(2n) {
  background-color: #eee;
}
.fight {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.fight-winner,
.fight-loser {
  margin: 1em;
  padding: 1em;
  box-shadow: 0 0 0.3em 0 rgba(0,0,0,0.3);
  border-radius: 0.3em;
  background-color: #e9e9e9;
  color: #000;
  min-width: 280px;
}
.fight-winner {
  background-color: #ced5c0;
}
.fight-loser {
  background-color: #ecd1d1;
}
.fight-vs {
  align-self: center;
  margin: 0 36px;
  font-size: 1.8em;
}
.fight-dates {
  text-align: center;
  color: #555;
  font-size: 0.8em;
}
.fight-metadata {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}
.fight-metadata-item {
  margin: 1em;
  padding: 0.4em 1em;
  box-shadow: 0 0 0.3em 0 rgba(0,0,0,0.3);
  border-radius: 0.3em;
  background-color: #e9e9e9;
  color: #000;
  max-width: 280px;
  display: inline-block;
}
.fight-status {
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 0.7em;
}
.fight-avatar {
  text-align: center;
}
.fight-username {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
}
.fight-winner .fight-username {
  color: #363;
}
.fight-loser .fight-username {
  color: #833;
}
.fight-uuid {
  text-align: center;
  font-size: 0.7em;
  color: #999;
}
.fight-elo {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-top: 1em;
}
.fight-elo-item {
  flex: 1;
  text-align: center;
}
.fight-elo-item-migration {
  flex: 2;
}
@media (max-width: 880px) {
  .top-bar .wrapper {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .menu-responsive {
    display: block;
  }
  .menu-unresponsive {
    display: none;
  }
}
@media (max-width: 50em) {
  .lightbox {
    width: 94%;
    max-width: none;
    left: 3%;
  }
}
@media (max-width: 400px) {
  .card {
    width: 13em;
  }
}

