.summary-table
  width 100%
  border-collapse collapse

.summary-table tr
  background-color #eeeeee

.summary-table tr:nth-child(odd)
  background-color #ffffff

.summary-table th
.summary-table td
  padding 8px

.summary-table th
  border 1px solid #dddddd

.summary-table td
  border 1px solid #dddddd
