{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <p>
        {% blocktrans trimmed %}
            Nous vous avons envoyé un courriel pour réinitialiser votre mot de
            passe. Si un compte existe avec l'adresse électronique que vous avez
            renseigné, vous devriez le recevoir bientôt.
        {% endblocktrans %}
    </p>

    <p>
        {% blocktrans trimmed %}
            Si vous ne recevez aucun message, vérifiez l'adresse électronique
            que vous avez saisie et vérifiez dans les courriers indésirables.
        {% endblocktrans %}
    </p>
{% endblock %}
