{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <h3>{% trans 'Mot de passé oublié ?' %}</h3>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans 'Envoyer' %}</button>
    </form>
{% endblock %}
