{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    {% if validlink %}
        <h3>{% trans 'Changement de mot de passe' %}</h3>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">{% trans 'Changer mon mot de passe' %}</button>
        </form>
    {% else %}
        <p>
            {% blocktrans trimmed %}
                Ce lien de réinitialisation de mot de passe est invalide. Il a
                probablement été déjà utilisé.
            {% endblocktrans %}
        </p>
    {% endif %}
{% endblock %}
