{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <p>
        {% url 'signin' as login_url %}
        {% blocktrans trimmed with login_url=login_url %}
            Votre nouveau mot de passe a bien été enregistré. Vous pouvez
            désormais <a href="{{ login_url }}">vous connecter</a>.
        {% endblocktrans %}
    </p>
{% endblock %}
