{% extends 'base.html' %}

{% load i18n static %}

{% block content %}
    <p>
        {% blocktrans trimmed %}
            Votre message a bien été reçu.
        {% endblocktrans %}
    </p>

    <p>
        {% blocktrans trimmed %}
            Nous vous répondrons d'ici peu.
        {% endblocktrans %}
    </p>
{% endblock %}
