{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        {{ contact_form.as_p }}

        <div class="text-right mt3">
            <button type="submit" class="btn btn-primary btn-block btn-large">{% trans 'Envoyer' %}</button>
        </div>
    </form>
{% endblock %}
