{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    {% if donation_url %}
        <p>
            {% blocktrans trimmed %}
                Nous faire un don :
                <a href="{{ donation_url }}">{{ donation_url }}</a>
            {% endblocktrans %}
        </p>
    {% endif %}
{% endblock %}
