{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <h1 class="text-center">
        {% blocktrans trimmed with winner_username=fight.get_winner_username loser_username=fight.get_loser_username %}
            Combat entre {{ winner_username }} et {{ loser_username }}
        {% endblocktrans %}
    </h1>

    <p class="fight-dates">
        {% blocktrans trimmed with start_date=fight.get_started_date|date:'d F Y à G:i:s' %}
            <strong>Début du combat :</strong> {{ start_date }}
        {% endblocktrans %}

        &ndash;

        {% blocktrans trimmed with end_date=fight.get_ended_date|date:'d F Y à G:i:s' %}
            <strong>Fin du combat :</strong> {{ end_date }}
        {% endblocktrans %}
    </p>

    <ul class="fight-metadata">
        <li class="fight-metadata-item">
            {% blocktrans trimmed with kit_name=fight.get_kit_name %}
                <strong>Kit :</strong> {{ kit_name }}
            {% endblocktrans %}
        </li>

        <li class="fight-metadata-item">
            {% blocktrans trimmed with arena_name=fight.arena %}
                <strong>Arène :</strong> {{ arena_name }}
            {% endblocktrans %}
        </li>

        {% if fight.is_ranked %}
            <li class="fight-metadata-item">
                {% blocktrans trimmed %}
                    <strong>Classé</strong>
                {% endblocktrans %}
            </li>
        {% else %}
            <li class="fight-metadata-item">
                {% blocktrans trimmed %}
                    <strong>Non classé</strong>
                {% endblocktrans %}
            </li>
        {% endif %}
    </ul>

    <div class="fight">
        <div class="fight-winner">
            <div class="fight-status">
              {% trans 'Gagnant' %}
            </div>

            <div class="fight-avatar">
                <img src="https://crafatar.com/avatars/{{ fight.get_winner_uuid }}?size=140" alt="" />
            </div>

            <div class="fight-username">
                {{ fight.get_winner_username }}
            </div>

            <div class="fight-uuid">
                {{ fight.get_winner_uuid }}
            </div>

            {% if fight.is_ranked %}
                <ul class="fight-elo">
                    <li class="fight-elo-item">
                        <strong>{% trans 'ELO' %}</strong>
                    </li>

                    <li class="fight-elo-item fight-elo-item-migration">
                        {{ fight.winners_old_elos }}
                        {% trans '➔' %}
                        {{ fight.winners_new_elos }}
                    </li>

                    <li class="fight-elo-item">
                        <strong>
                            {% if fight.get_winner_diff_elos > 0 %}
                                (+{{ fight.get_winner_diff_elos }})
                            {% elif fight.get_winner_diff_elos < 0 %}
                                ({{ fight.get_winner_diff_elos }})
                            {% else %}
                                ({% trans '0' %})
                            {% endif %}
                        </strong>
                    </li>
                </ul>
            {% endif %}
        </div>

        <div class="fight-vs">
            {% trans 'VS' %}
        </div>

        <div class="fight-loser">
            <div class="fight-status">
              {% trans 'Perdant' %}
            </div>

            <div class="fight-avatar">
                <img src="https://crafatar.com/avatars/{{ fight.get_loser_uuid }}?size=140" alt="" />
            </div>

            <div class="fight-username">
                {{ fight.get_loser_username }}
            </div>

            <div class="fight-uuid">
                {{ fight.get_loser_uuid }}
            </div>

            {% if fight.is_ranked %}
                <ul class="fight-elo">
                    <li class="fight-elo-item">
                        <strong>{% trans 'ELO' %}</strong>
                    </li>

                    <li class="fight-elo-item fight-elo-item-migration">
                        {{ fight.losers_old_elos }}
                        {% trans '➔' %}
                        {{ fight.losers_new_elos }}
                    </li>

                    <li class="fight-elo-item">
                        <strong>
                            {% if fight.get_loser_diff_elos > 0 %}
                                (+{{ fight.get_loser_diff_elos }})
                            {% elif fight.get_loser_diff_elos < 0 %}
                                ({{ fight.get_loser_diff_elos }})
                            {% else %}
                                ({% trans '0' %})
                            {% endif %}
                        </strong>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
