{% extends 'base.html' %}

{% load i18n static %}

{% block content %}
    <header class="header-home">
        <div class="header-title">
            <h1>
                {% blocktrans trimmed %}
                    {{ site_name }}
                {% endblocktrans %}
            </h1>

            <p class="header-subtitle">
                {% blocktrans trimmed %}
                    Serveur Minecraft Network
                {% endblocktrans %}
            </p>

            <img src="{% static 'img/logo.png' %}"
                 alt="{% blocktrans trimmed %}Logo {{ site_name }}{% endblocktrans %}" />
        </div>

        <div class="header-join">
            <p class="txt-join">
                {% blocktrans trimmed %}
                    Nous rejoindre
                {% endblocktrans %}
            </p>

            <div>
                <p class="txt-ip">
                    {% blocktrans trimmed %}
                        {{ minecraft_ip }}
                    {% endblocktrans %}
                </p>
            </div>

            <p class="txt-versions">
                {% blocktrans trimmed %}
                    Versions 1.7 à 1.13 – Connectés : {{ nb_players }}
                {% endblocktrans %}
            </p>
        </div>
    </header>

    <section class="section-presentation">
        <div class="wrapper">
            <div class="col-6 col-image">
                <img src="{% static 'img/black-placeholder.jpg' %}">
            </div>

            <div class="col-6 col-text">
                <h2>
                    {% blocktrans trimmed %}
                        Aenean aliquam suspendisse
                    {% endblocktrans %}
                </h2>

                {% blocktrans trimmed %}
                    Commodoe sit luctus hâc nisi conséquat mattisé rûtrum laçus
                    suscipit mlius pretium sociosqu, à rhoncüs alèquam intègèr
                    sét himenaeos conséquat conséquat blandît cursus ad aenean,
                    ultricies taciti félis j'condimentûm anonyma primis
                    phasellus ut quisqué.
                {% endblocktrans %}
            </div>
        </div>
    </section>

    <section class="section-presentation section-dark">
        <div class="wrapper">
            <div class="col-6 col-text">
                <h2>
                    {% blocktrans trimmed %}
                        Congue tempès variûs
                    {% endblocktrans %}
                </h2>

                {% blocktrans trimmed %}
                    Molestie torquenté fuegiuia himenaeos convallis venenatis
                    pharétra tristiqué séllicitudén énis ad prétium, nisl mi
                    malesuada nisï lectus convallis pellentesque dolor
                    portitorsé litoré arcu tristiqué.
                {% endblocktrans %}
            </div>

            <div class="col-6 col-image">
                <img src="{% static 'img/white-placeholder.jpg' %}">
            </div>
        </div>
    </section>

    <section class="section-presentation">
        <div class="wrapper">
            <div class="col-6 col-image">
                <img src="{% static 'img/black-placeholder.jpg' %}">
            </div>

            <div class="col-6 col-text">
                <h2>
                    {% blocktrans trimmed %}
                        Neque accumsan iaculis aptenté massè dolor
                    {% endblocktrans %}
                </h2>

                {% blocktrans trimmed %}
                    Lorem torétoré scelerisque curae lilitoxic anonyma cél
                    l'fermentum pulvîar ut torquent, suspendissé nec mi c'est
                    fermentum risius nullä classé donec, elit primis congue mi
                    rhoncüs cél velit class non netus diam famès. Urna
                    ullamcorper curae justo étiam ultricies laoreet ultrûcéas
                    l'vivamus, orci aliquet ornare tempor nètus néc aptenté,
                    torquenté rûtrum sagittis classé accumsan scéléréo.
                {% endblocktrans %}
            </div>
        </div>
    </section>
{% endblock %}
