{% extends 'base.html' %}

{% block content %}
    <div class="leaderboard">
        {% include 'pages/stats-table.html' with title='Global' stats=global_elo only %}
    </div>

    <h2 class="text-center">Classement</h2>

    <div class="leaderboard">
        {% include 'pages/stats-table.html' with title='NoDebuff' stats=elo_nodebuffelo1v1 only %}
        {% include 'pages/stats-table.html' with title='Build UHC' stats=elo_builduhcelo1v1 only %}
        {% include 'pages/stats-table.html' with title='Archer' stats=elo_archerelo1v1 only %}
        {% include 'pages/stats-table.html' with title='Gapple' stats=elo_gappleelo1v1 only %}
        {% include 'pages/stats-table.html' with title='Combo' stats=elo_comboelo1v1 only %}
        {% include 'pages/stats-table.html' with title='Combo Sumo' stats=elo_combosumoelo1v1 only %}
        {% include 'pages/stats-table.html' with title='Sumo' stats=elo_sumoelo1v1 only %}
        {% include 'pages/stats-table.html' with title='Spleef' stats=elo_spleefelo1v1 only %}
    </div>

    <h2 class="text-center">Classement Premium</h2>

    <div class="leaderboard">
        {% include 'pages/stats-table.html' with title='NoDebuff Premium' stats=elo_nodebuffelo1v1premium only %}
        {% include 'pages/stats-table.html' with title='Build UHC Premium' stats=elo_builduhcelo1v1premium only %}
        {% include 'pages/stats-table.html' with title='Archer Premium' stats=elo_archerelo1v1premium only %}
        {% include 'pages/stats-table.html' with title='Gapple Premium' stats=elo_gappleelo1v1premium only %}
        {% include 'pages/stats-table.html' with title='Combo Premium' stats=elo_comboelo1v1premium only %}
        {% include 'pages/stats-table.html' with title='Combo Sumo Premium' stats=elo_combosumoelo1v1premium only %}
        {% include 'pages/stats-table.html' with title='Sumo Premium' stats=elo_sumoelo1v1premium only %}
        {% include 'pages/stats-table.html' with title='Spleef Premium' stats=elo_spleefelo1v1premium only %}
    </div>
{% endblock %}
