{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    {% if recruitment.qualifications %}
        <div class="callout callout-info">
            {{ recruitment.qualifications|safe }}
        </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ recruitment_form.as_p }}

        <div class="text-right mt3">
            <button type="submit" class="btn btn-primary btn-block btn-large" name="recruitment">
                {% trans 'Envoyer' %}
            </button>
        </div>
    </form>
{% endblock %}
