{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <div class="recruitment-cards">
        {% for recruitment in recruitments %}
            {% if recruitment.opened %}
                <a class="recruitment-card" href="{% url 'recruitment' recruitment.slug %}">
            {% else %}
                <div class="recruitment-card">
            {% endif %}
                {% if recruitment.image %}
                    <div class="recruitment-card-image">
                        <img src="{{ recruitment.image.url }}" alt="" />
                    </div>
                {% endif %}

                <div class="recruitment-card-header">
                    {{ recruitment.name }}
                </div>

                {% if recruitment.description %}
                    <div class="recruitment-card-description">
                        {{ recruitment.description|safe }}
                    </div>
                {% endif %}

                <div class="recruitment-opening-state">
                    {% if recruitment.opened %}
                        <span class="recruitment-opening-state-opened">
                            {% trans 'Ouvert' %}
                        </span>
                    {% else %}
                    <span class="recruitment-opening-state-closed">
                            {% trans 'Fermé' %}
                        </span>
                    {% endif %}
                </div>
            {% if recruitment.opened %}
                </a>
            {% else %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
