{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    {% for group in groups %}
        <div>
            <h2 class="text-center">
                {{ group.name }}
            </h2>

            <div class="member-cards">
                {% for member in group.staffmember_set.all %}
                    <div class="member-card">
                        <div class="member-card-header">
                            <img src="https://crafatar.com/avatars/{{ member.uuid }}?size=60&amp;helm"
                                 class="member-card-image"
                                 alt="" />

                            <div class="member-card-names">
                                {% if member.name %}
                                    <p class="member-card-name">
                                        <strong>Nom</strong><br />
                                        {{ member.name }}
                                    </p>
                                {% endif %}

                                {% if member.username %}
                                    <p class="member-card-username">
                                        {% blocktrans trimmed with username=member.username %}
                                            <strong>Pseudonyme</strong><br />
                                            {{ username }}
                                        {% endblocktrans %}
                                    </p>
                                {% endif %}
                            </div>
                        </div>

                        {% if member.short_description %}
                            <p class="member-card-description">
                                {{ member.short_description }}
                            </p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
