{% load i18n %}

<div class="leaderboard-item">
    <table class="leaderboard-table">
        <tr>
            <th colspan="3">
                {{ title }}
            </th>
        </tr>

        <tr>
            <th></th>

            <th>
                {% trans 'Pseudonyme' %}
            </th>

            <th class="text-right">
                {% trans 'Elo' %}
            </th>
        </tr>

        {% for stat in stats %}
            <tr>
                <td class="text-right">
                    #{{ forloop.counter }}
                </td>

                <td>
                  <img src="https://crafatar.com/avatars/{{ stat.uuid }}?size=16"
                         alt="" />

                    {{ stat.username }}
                </td>

                <td class="text-right">
                    {{ stat.score }}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
