{% extends 'base.html' %}

{% load i18n flux_name %}

{% block content %}
    <table>
        <tr>
            <td>{% trans 'PayPal' %}</td>
            <td>+{{ gain_paypal }}</td>
        </tr>

        <tr>
            <td>{% trans 'Dedipass' %}</td>
            <td>+{{ gain_dedipass }}</td>
        </tr>

        <tr>
            <td>{% trans 'paysafecard' %}</td>
            <td>+{{ gain_paysafecard }}</td>
        </tr>

        <tr>
            <td>{% trans 'Entrée' %}</td>
            <td>+{{ income }}</td>
        </tr>

        <tr>
            <td>{% trans 'Sortie' %}</td>
            <td>-{{ output }}</td>
        </tr>

        <tr>
            <td><strong>{% trans 'Total' %}</strong></td>
            <td>
                {% if total >= 0 %}
                    <strong style="color: green;">{{ total }}</strong>
                {% else %}
                    <strong style="color: red;">{{ total }}</strong>
                {% endif %}
            </td>
        </tr>
    </table>

    <table class="summary-table">
        <tr>
            <th>
                Mois
            </th>

            {% for heading in headings %}
                <th>
                    {{ heading|flux_name }}
                </th>
            {% endfor %}
        </tr>

        {% for month, flux in fluxes.items %}
            <tr>
                <td>
                    {{ month|date:'F Y' }}
                </td>

                {% for id, amount in flux.items %}
                    <td>
                        {{ amount }} €
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
