{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    {% comment %}
        Placer ici les conditions générales de vente du site.

        Ci-dessous, une source d'inspiration.
    {% endcomment %}

    <p>
        {% blocktrans trimmed with site_name=site_name %}
            Lilitoxic cràs semper phaséllœs potentié portitorsé. Mie nîbh porté
            éléfantid litora bibéndum vitaé morbié nullä, etiam c'est-a-dire
            urna liçlà platea felis suspendissé, £at bibéndum séd consequat
            tempor placérat enim. Morbi curàé libero litora erat ôdiot famès
            cubilia aliquam lacîna, sollicitudin variûs ût sodalés vestibulum
            c'est-a-dire vivamùs nètus, fuscé l'sapien amèt mi métus nec
            commodoé morbi.
        {% endblocktrans %}
    </p>

    {% comment %}
        <h2>{% trans 'Préambule' %}</h2>

        <p>
            {% blocktrans trimmed %}
                Le site {{ site_name }} ainsi que l'accès aux serveurs de jeu sont
                gratuits, sans obligation d'achat, excepté une license du jeu
                Minecraft.
            {% endblocktrans %}
        </p>

        <p>
            {% blocktrans trimmed %}
                {{ site_name }} se réserve le droit de modifier sans préavis ou
                annonce les présentes conditions générales de vente qui devront
                être consultées avant tout achat sur le site.
            {% endblocktrans %}
        </p>

        <p>
            {% blocktrans trimmed %}
                L'utilisateur doit être majeur ou disposer d'une autorisation de
                son responsable ou tuteur légal avant d'effectuer un achat sur le
                site {{ site_name }}.
            {% endblocktrans %}
        </p>

        <p>
            {% blocktrans trimmed %}
                Tous les articles proposés dans notre boutique restent la propriété
                exclusive de {{ site_name }}. À ce titre, personne n'a le droit de
                vendre ou revendre le contenu acheté.
            {% endblocktrans %}
        </p>

        <p>
            {% blocktrans trimmed %}
                Un non respect des conditions générales de vente pourra conduire à
                des poursuites et à une interdiction d'utilisation des services
                liés à {{ site_name }}.
            {% endblocktrans %}
        </p>

        <p>
            {% blocktrans trimmed %}
                Toute commande validée constitue une acception irrévocable des
                conditions générales de vente et du paiement et validera votre
                transaction. Les données enregistrées par {{ site_name }} constituent
                la preuve de l'ensemble des transactions passées par {{ site_name }} et
                ses clients. Les données enregistrées par le système de paiement
                constituent la preuve des ses transaction financières.
            {% endblocktrans %}
        </p>

        <h2>{% trans 'Paiement' %}</h2>

        <p>
            {% blocktrans trimmed %}
                Le paiement s'effectue en ligne, au choix de l'utilisateur, par le
                biais du service PayPal, celui de Dedipass ou celui de paysafecard.
            {% endblocktrans %}
        </p>

        <p>
            {% blocktrans trimmed %}
                Les informations personnelles ainsi que les numéros de carte
                bancaire ne circulent jamais en clair entre le navigateur et le
                serveur, les données sont chiffrées et transmises par le protocole
                TLS. Via le paiement PayPal, les données fournies par PayPal (nom,
                adresse électronique, etc.) seront enregistrées comme preuve
                d'achat.
            {% endblocktrans %}
        </p>

        <p>
            {% blocktrans trimmed %}
                Certains produits sont vendus à vie, c'est-à-dire pendant la durée
                de vie des services de {{ site_name }}. Nous nous réservons donc le
                droit d'ajouter, supprimer ou modifier le contenu des produits à
                tout moment, la modification d'un quelconque produit ne donne pas
                le droit à un remboursement.
            {% endblocktrans %}
        </p>

        <h2>{% trans 'Tarifs' %}</h2>

        <p>
            {% blocktrans trimmed %}
                Les tarifs de nos articles sont affichés sur la boutique au moment
                du paiement, ils sont indiqués toutes taxes comprises (TTC).
                {{ site_name }} se réserve le droit de modifier ses prix à tout moment
                sans que cette action n'entraîne un quelconque remboursement.
            {% endblocktrans %}
        </p>

        <h2>{% trans 'Droit de rétractation' %}</h2>

        <p>
            {% blocktrans trimmed %}
                Par dérogation à l'article L. 121-20-1 du Code Français de la
                Consommation, le Client a un droit de rétractation de 14 (quatorze)
                jours si le service n'a pas encore été livré.
            {% endblocktrans %}
        </p>

        <p>
            {% blocktrans trimmed %}
                Ce droit de rétractation s'effectue par message via le formulaire
                de contact et donne droit pour le Client au remboursement des
                sommes déjà versées par lui dans un délai de 30 (trente) jours à
                compter de la réception de l'avis. Toute demande de rétraction qui
                ne respecterait pas le délai légal ou ne fournirait pas assez
                d'informations ne sera pas prise en considération.
            {% endblocktrans %}
        </p>

        <p>
            <em>
                {% blocktrans trimmed %}
                    {{ site_name }}, le 3 octobre 2018
                {% endblocktrans %}
            </em>
        </p>
    {% endcomment %}
{% endblock %}
