{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <div class="cards">
        {% for youtuber in youtubers %}
            {% if youtuber.url_youtube %}
                <a class="card" href="{{ youtuber.url_youtube }}">
                    <img src="https://crafatar.com/avatars/{{ youtuber.uuid }}?size=60&amp;helm"
                         alt="" />

                    <span style="vertical-align: 70%; font-size: 1.3em; padding-left: 8px;">
                        {{ youtuber.username }}
                    </span>
                </a>
            {% else %}
                <div class="card">
                    <img src="https://crafatar.com/avatars/{{ youtuber.uuid }}?size=60&amp;helm"
                         alt="" />

                    <span style="vertical-align: 70%; font-size: 1.3em; padding-left: 8px;">
                        {{ youtuber.username }}
                    </span>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
