{% extends 'base.html' %}

{% load static i18n %}

{% block content %}
    <div class="fukol-grid">
        <div>
            <h2>{% trans 'Connexion' %}</h2>

            <form method="post" action ="">
                {% csrf_token %}

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% for field in login_form %}
                    <div class="form-group {%  if field.errors %}has-error{% endif %}">
                        {%  if field.errors %}
                            <label class="control-label">
                                {{ field.label }} :

                                {%  for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                            </label>
                        {% endif %}

                        {{ field }}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary btn-block btn-lg" name="login">
                    {% trans 'Connexion' %}
                </button>

                <p>
                    <a href="{% url 'password_reset' %}">
                        {% trans 'Mot de passe oublié ?' %}
                    </a>
                </p>
            </form>
        </div>

        <div>
            <h2>{% trans 'Inscription' %}</h2>

            <form method="post" action ="">
                {% csrf_token %}

                {% for field in registration_form %}
                    <div class="form-group {%  if field.errors %}has-error{% endif %}">
                        {%  if field.errors %}
                            <label class="control-label">
                                {{ field.label }} :

                                {%  for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                            </label>
                        {% endif %}

                        {{ field }}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary btn-block btn-lg" name="register">
                    {% trans 'Inscription' %}
                </button>

                <p>
                    {% blocktrans trimmed %}
                        Pensez bien à utiliser un mot de passe différent de
                        celui que vous utilisez sur Minecraft, pour votre
                        sécurité.
                    {% endblocktrans %}
                </p>
            </form>
        </div>
    </div>
{% endblock content %}
