{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="callout callout-success">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="fukol-grid">
        <div>
            <h2>{% trans 'Modifier mon mot de passe' %}</h2>

            <form method="post" action ="">
                {% csrf_token %}

                {% if messages and current_form == 'change_password' %}
                    <ul class="messages">
                        {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <li>{{ message }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}

                {% for field in change_password_form %}
                    <div class="form-group {%  if field.errors %}has-error{% endif %}">
                        {%  if field.errors %}
                            <label class="control-label">
                                {{ field.label }} :

                                {%  for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                            </label>
                        {% endif %}

                        {{ field }}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary btn-block btn-lg" name="change-password">
                    {% trans 'Modifier mon mot de passe' %}
                </button>
            </form>
        </div>

        <div>
            <h2>{% trans 'Modifier mon adresse électronique' %}</h2>

            <form method="post" action ="">
                {% csrf_token %}

                {% if messages and current_form == 'change-email' %}
                    <ul class="messages">
                        {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <li>{{ message }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}

                {% for field in change_email_form %}
                    <div class="form-group {%  if field.errors %}has-error{% endif %}">
                        {%  if field.errors %}
                            <label class="control-label">
                                {{ field.label }} :

                                {%  for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                            </label>
                        {% endif %}

                        {{ field }}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary btn-block btn-lg" name="change-email">
                    {% trans 'Modifier mon adresse électronique' %}
                </button>
            </form>
        </div>
    </div>

    <div class="fukol-grid">
        <div>
            <h2>{% trans 'Historique des paiement de crédits' %}</h2>

            <h3>{% trans 'PayPal' %}</h3>

            {% if paypal_payments %}
                <table>
                    <tr>
                        <th>{% trans 'Date de paiement' %}</th>
                        <th>{% trans 'Crédits donnés' %}</th>
                        <th>{% trans 'Prix payé' %}</th>
                    </tr>

                    {% for payment in paypal_payments %}
                        <tr>
                            <td>{{ payment.created_at }}</td>
                            <td>{{ payment.credits_given }}</td>
                            <td>{{ payment.price_paid }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>
                    {% trans 'Pas de paiement PayPal.' %}
                </p>
            {% endif %}

            <h3>{% trans 'Dedipass' %}</h3>

            {% if dedipass_payments %}
                <table>
                    <tr>
                        <th>{% trans 'Date de paiement' %}</th>
                        <th>{% trans 'Crédits donnés' %}</th>
                        <th>{% trans 'Prix payé' %}</th>
                    </tr>

                    {% for payment in dedipass_payments %}
                        <tr>
                            <td>{{ payment.created_at }}</td>
                            <td>{{ payment.credits_given }}</td>
                            <td>{{ payment.price_paid }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>
                    {% trans 'Pas de paiement Dedipass.' %}
                </p>
            {% endif %}

            <h3>{% trans 'paysafecard' %}</h3>

            {% if paysafecard_payments %}
                <table>
                    <tr>
                        <th>{% trans 'Date de paiement' %}</th>
                        <th>{% trans 'Crédits donnés' %}</th>
                        <th>{% trans 'Prix payé' %}</th>
                    </tr>

                    {% for payment in paysafecard_payments %}
                        <tr>
                            <td>{{ payment.created_at }}</td>
                            <td>{{ payment.credits_given }}</td>
                            <td>{{ payment.price_paid }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>
                    {% trans 'Pas de paiement paysafecard.' %}
                </p>
            {% endif %}
        </div>

        <div>
            <h2>{% trans 'Historique des paiement d\'articles' %}</h2>

            {% if products_payments %}
                <table>
                    <tr>
                        <th>{% trans 'Date de paiement' %}</th>
                        <th>{% trans 'Nom du produit' %}</th>
                        <th>{% trans 'Prix (en crédits)' %}</th>
                    </tr>

                    {% for payment in products_payments %}
                        <tr>
                            <td>{{ payment.created_at }}</td>
                            <td>{{ payment.product_name }}</td>
                            <td>{{ payment.price_paid }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>
                    {% trans 'Pas de paiements de produits.' %}
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
