{% extends 'base.html' %}

{% load i18n static %}

{% block content %}
    <p>
        {% blocktrans trimmed with name=product.name price=product.get_final_price %}
            Vous êtes sur le point d'acheter l'article « {{ name }} » pour le
            prix de {{ price }} crédits.
        {% endblocktrans %}
    </p>

    <ul>
        <li>
            {% blocktrans trimmed with credits=user.member.credits %}
                Nombre de crédits en votre possession avant achat :
                {{ credits }} crédits ;
            {% endblocktrans %}
        </li>

        <li>
            {% blocktrans trimmed with credits=credits_after_buying %}
                Nombre de crédits en votre possession après achat :
                {{ credits }} crédits.
            {% endblocktrans %}
        </li>
    </ul>

    <p>
        {% blocktrans trimmed %}
            Vous devez saisir un pseudonyme qui s'est déjà connecté sur le
            serveur sélectionné avant d'acheter le produit.
        {% endblocktrans %}
    </p>

    <form method="post"
          action="{% url 'shop.validate-username' 'a' 'b' %}"
          class="validate-username-form text-center">
        {% csrf_token %}

        <input type="hidden"
               value="{{ server.slug }}"
               name="server-slug" />

        <input type="text"
               value=""
               placeholder="{% trans 'Pseudonyme Minecraft' %}"
               size="14"
               name="minecraft-username" /><br />

        <input type="submit"
               value="{% trans 'Valider le pseudonye' %}"
               class="btn btn-primary" />
    </form>

    <form method="post"
          action="{% url 'shop.valid-buy-item' %}"
          class="validate-buy-item text-center">
        {% csrf_token %}

        <input type="hidden"
               value="{{ product.slug }}"
               name="slug" />

        <input type="hidden"
               value=""
               class="input-minecraft-username"
               style="border: none; background: none;"
               name="minecraft-username" />

        <span class="text-minecraft-username"></span><br />

        <input type="submit"
               value="{% blocktrans trimmed with price=product.get_final_price %}
                 Valider l'achat ({{ price }} crédits)
               {% endblocktrans %}"
               class="btn btn-success btn-large" />
    </form>

    <script src="{% static 'js/validate-username.js' %}"></script>
{% endblock %}
