{% extends 'base.html' %}

{% load i18n static %}

{% block content %}
    <p class="callout callout-info">
        {% blocktrans trimmed with url=tos_url %}
            En remplissant les informations demandées, vous acceptez les
            <a href="{{ url }}" target="_blank">conditions générales de
            vente</a>.
        {% endblocktrans %}
    </p>

    <div data-dedipass="{{ dedipass_public_key }}"
         data-dedipass-custom="{{ user.id }}"></div>

    <script src="//api.dedipass.com/v1/pay.js"></script>
{% endblock %}
