{% extends 'base.html' %}

{% load i18n l10n static %}

{% block content %}
    <p class="callout callout-info">
        {% blocktrans trimmed with url=tos_url %}
            En cliquant sur l'une des boites ci-dessous puis en remplissant
            les informations demandées, vous acceptez les
            <a href="{{ url }}" target="_blank">conditions générales de
            vente</a>.
        {% endblocktrans %}
    </p>

    <div class="cards">
        {% for offer in paypal_offers %}
            <form action="{{ paypal_url }}" method="post" style="display: inline-block;">
                <input id="id_business"
                    name="business"
                    value="{{ paypal_receiver_email }}"
                    type="hidden">

                <input id="id_amount"
                    name="amount"
                    value="{{ offer.price|unlocalize }}"
                    type="hidden">

                <input id="id_item_name"
                    name="item_name"
                    value="{{ offer.name }}"
                    type="hidden">

                <input id="id_notify_url"
                    name="notify_url"
                    value="{{ base_url }}{% url 'shop.validate-credits-paypal' %}"
                    type="hidden">

                <input id="id_cancel_return"
                    name="cancel_return"
                    value="{{ base_url }}{% url 'shop.cancel-credits-paypal' %}"
                    type="hidden">

                <input id="id_return_url"
                    name="return"
                    value="{{ base_url }}{% url 'shop.confirm-credits-paypal' %}"
                    type="hidden">

                <input id="id_custom"
                    name="custom"
                    value="{{ user.id }}|{{ offer.id }}"
                    type="hidden">

                <input id="id_invoice"
                    name="invoice"
                    value="{{ id_invoice }}"
                    type="hidden">

                <input id="id_cmd"
                    name="cmd"
                    value="_xclick"
                    type="hidden">

                <input id="id_charset"
                    name="charset"
                    value="utf-8"
                    type="hidden">

                <input id="id_currency_code"
                    name="currency_code"
                    value="EUR"
                    type="hidden">

                <input id="id_no_shipping"
                    name="no_shipping"
                    value="1"
                    type="hidden">

                <button type="submit" class="card">
                    <h2 class="card-title">
                        {% blocktrans trimmed with name=offer.name %}
                            {{ name }}
                        {% endblocktrans %}
                    </h2>

                    <p class="card-description">
                        {% blocktrans trimmed with price=offer.price %}
                            Prix : {{ price }} €
                        {% endblocktrans %}<br />
                    </p>
                </button>
            </form>
        {% endfor %}
    </div>

    <img src="{% static 'img/securise-par-paypal.png' %}" />

    <p>
        {% blocktrans trimmed %}
            En choisissant un mode de paiement, vous serez redirigé vers PayPal
            qui vous demandera de vous authentifier à votre compte PayPal pour
            valider le paiement.
        {% endblocktrans %}
    </p>

    <p>
        {% url 'contact' as url %}

        {% blocktrans trimmed %}
            <ins>Note</ins> : les crédits peuvent mettre quelques minutes à
            arriver. Si vous ne les avez pas reçu après 10 minutes,
            contactez-nous via le <a href="{{ url }}">formulaire de contact</a>.
        {% endblocktrans %}
    </p>
{% endblock %}
