{% extends 'base.html' %}

{% load i18n static humanize %}

{% block content %}
    <div class="callout callout-info">
        <h2 class="callout-title">{% trans 'Crédits en votre possession' %}</h2>

        <p>
            {% blocktrans trimmed with credits=user.member.credits|intcomma %}
                Vous avez actuellement {{ credits }} crédits en votre possession.
            {% endblocktrans %}
        </p>
    </div>

    <p class="text-center text-big mv4">
        {% blocktrans trimmed %}
            Ici, vous n'avez pas de panier à remplir puis un montant à payer.
            Ce qu'il faut faire, c'est acheter des crédits, qui vous
            permettront d'acheter les articles de la boutique, qui vous
            confèrerons des avantages en jeu.
        {% endblocktrans %}
    </p>

    <p class="h2 text-center highlighted highlighted-secondary">
        {% trans 'Choisissez un mode de paiement pour créditer votre compte' %}
    </p>

    <div class="cards">
        <a href="{% url 'shop.buy-credits-paypal' %}" class="card">
            <h2 class="card-title">
                <img
                    src="{% static 'img/logos/logo-paypal.png' %}"
                    class="card-image"
                    alt="{% trans 'PayPal' %}" />
            </h2>

            <p class="card-description text-center">
                {% trans 'Acheter des crédits avec PayPal.' %}
            </p>
        </a>

        <a href="{% url 'shop.buy-credits-dedipass' %}" class="card">
            <h2 class="card-title">
                <img
                    src="{% static 'img/logos/logo-dedipass.png' %}"
                    class="card-image"
                    alt="{% trans 'Dedipass' %}" />
            </h2>

            <p class="card-description text-center">
                {% trans 'Acheter par téléphone ou SMS.' %}
            </p>
        </a>

        <a href="{% url 'shop.buy-credits-paysafecard' %}" class="card">
            <h2 class="card-title">
                <img
                    src="{% static 'img/logos/logo-paysafecard.png' %}"
                    class="card-image"
                    alt="{% trans 'paysafecard' %}" />
            </h2>

            <p class="card-description text-center">
                {% trans 'Acheter des crédits avec paysafecard.' %}
            </p>
        </a>
    </div>

    <p class="text-center">
        {% blocktrans trimmed %}
            Les paiements sont soumis aux conditions générales de vente du site
            ainsi qu'à celles du site de la méthode de paiement.
        {% endblocktrans %}
    </p>
{% endblock %}
