{% extends 'base.html' %}

{% load i18n static %}

{% block content %}
    <p class="text-center text-bold mv4">
        {% blocktrans %}
            1 € permet d'obtenir 4 crédits. Plus la somme payée est élevée, plus
            le nombre de crédits obtenus par euro est élevé.
        {% endblocktrans %}
    </p>

    <p>
        {% trans 'Exemples :' %}
    </p>

    <ul>
        <li>{% trans '1 € = 4 crédits' %}</li>
        <li>{% trans '5 € = 20 crédits' %}</li>
        <li>{% trans '10 € = 40 crédits (+8 bonus)' %}</li>
        <li>{% trans '20 € = 80 crédits (+24 bonus)' %}</li>
        <li>{% trans '50 € = 200 crédits (+80 bonus)' %}</li>
        <li>{% trans '100 € = 400 crédits (+200 bonus)' %}</li>
    </ul>

    <div class="text-center mv5">
        <form method="post" action="{% url 'shop.validate-credits-paysafecard' %}">
            {% csrf_token %}

            <div class="mv3">
                <input type="text"
                    pattern="\d{4}"
                    size="4"
                    minlength="4"
                    maxlength="4"
                    required
                    placeholder="0000"
                    name="code-part1" />

                <input type="text"
                    pattern="\d{4}"
                    size="4"
                    minlength="4"
                    maxlength="4"
                    required
                    placeholder="0000"
                    name="code-part2" />

                <input type="text"
                    pattern="\d{4}"
                    size="4"
                    minlength="4"
                    maxlength="4"
                    required
                    placeholder="0000"
                    name="code-part3" />

                <input type="text"
                    pattern="\d{4}"
                    size="4"
                    minlength="4"
                    maxlength="4"
                    required
                    placeholder="0000"
                    name="code-part4" />
            </div>

            <div class="mv3">
                <input type="checkbox"
                    name="read-tos"
                    required
                    id="read-tos" />

                <label for="read-tos">
                    {% blocktrans trimmed with url=tos_url %}
                        J'ai lu et j'accepte les
                        <a href="{{ url }}" target="_blank">conditions
                        générales de vente</a>
                    {% endblocktrans %}
                </label>
            </div>

            <div>
                <input type="submit"
                    value="{% trans 'Valider' %}"
                    class="btn btn-primary" />
            </div>
        </form>
    </div>

    <p class="text-center text-italic">
        {% blocktrans %}
            Le paiement paysafecard nécessite une validation manuelle d'environ
            24 heures.
        {% endblocktrans %}
    </p>
{% endblock %}
