{% extends 'base.html' %}

{% load i18n static %}

{% block content %}
    <p>{% trans 'Votre paiement paysafecard a bien été pris en compte.' %}</p>

    <p>{% trans 'Votre compte sera débité d\'ici un à deux jours.' %}</p>

    <p>
        {% url 'contact' as url %}

        {% blocktrans trimmed %}
            Si après ce délai, vous n'avez toujours pas reçu votre crédits,
            <a href="{{ url }}">contactez-nous</a>.
        {% endblocktrans %}
    </p>
{% endblock %}
