{% extends 'base.html' %}

{% load i18n static %}

{% block content %}
    <p>{% trans 'Votre paiement PayPal a bien été pris en compte.' %}</p>

    <p>{% trans 'Vous devriez recevoir vos crédits d\'ici quelques minutes.' %}</p>

    <p>
        {% url 'contact' as url %}

        {% blocktrans trimmed %}
            Si après une heure vous n'avez toujours pas reçu vos crédits,
            veuillez <a href="{{ url }}">nous contacter</a>.
        {% endblocktrans %}
    </p>
{% endblock %}
