{% extends 'base.html' %}

{% load i18n static %}

{% block content %}
    <p>{% trans 'Votre achat de produit a bien été pris en compte.' %}</p>

    <p>{% trans 'Vous devriez le recevoir sur Minecraft d\'ici peu.' %}</p>

    <p>
        {% url 'contact' as url %}

        {% blocktrans trimmed %}
            Si après dix minutes, vous n'avez toujours pas reçu votre produit,
            <a href="{{ url }}">contactez-nous</a>.
        {% endblocktrans %}
    </p>
{% endblock %}
