{% extends 'base.html' %}

{% load i18n static %}

{% block content %}
    <p>{% trans 'Votre paiement Dedipass a bien été pris en compte.' %}</p>

    <p>
        {% url 'contact' as url %}

        {% blocktrans trimmed %}
            Si vous n'avez pas reçu vos crédits,
            <a href="{{ url }}">contactez-nous</a>.
        {% endblocktrans %}
    </p>
{% endblock %}
