{% extends 'base.html' %}

{% load i18n static %}

{% block content %}
    <p class="text-center">
        {% trans 'Pour acheter des produits, vous devez posséder des crédits.' %}

        <a href="{% url 'shop.buy-credits' %}" class="btn btn-secondary btn-large">
            {% trans 'Acheter des crédits' %}
        </a>
    </p>

    {% include 'shop/list-servers.html' %}
{% endblock %}
