{% load i18n %}

<p class="h2 text-center highlighted highlighted-secondary">
    {% trans 'Sélectionnez un serveur' %}
</p>

<p class="text-center">
    {% blocktrans trimmed with site_name=site_name %}
        {{ site_name }} est découpé en plusieurs serveurs. Avant de
        sélectionner un produit à acheter, vous devez donc sélectionner un
        serveur. C'est sur le serveur sélectionné que vous recevez l'article
        choisi.
    {% endblocktrans %}
</p>

<ul class="cards">
    {% for server in servers %}
        <a href="{% url 'shop.list-categories' server.slug %}" class="card">
            <h2 class="card-title">{{ server.name }}</h2>

            <p class="card-description">
                {{ server.description|safe }}
            </p>
        </a>
    {% endfor %}
</ul>
