{% extends 'base.html' %}

{% load i18n static %}

{% block content %}
    <p class="text-align text-center">
        <a href="{% url 'shop.index' %}" class="btn btn-info">
            {% trans 'Retourner à la liste des serveurs' %}
        </a>
    </p>

    <ul class="filters list-categories">
        <li data-slug="all" class="active">{% trans 'Tous les articles' %}</li>

        {% for category in categories %}
            <li data-slug="{{ category.slug }}">{{ category.name }}</li>
        {% endfor %}
    </ul>

    {% include 'shop/list-products.html' %}

    <script src="{% static 'js/shop-products-filter.js' %}"></script>
{% endblock %}
