{% load i18n static %}

<ul class="list-products">
    {% for product in products %}
        <li data-category-slug="{{ product.category.slug }}">
            <div class="product-card">
                {% if product.has_current_promotion %}
                    <div class="product-card-promotion">
                        <div class="product-card-promotion-headband">
                            <div class="product-card-promotion-text">
                                {% with product.get_current_promotion as current_promotion %}
                                    {% if current_promotion.method == 'PCT' %}
                                        {% blocktrans trimmed with value=current_promotion.value %}
                                            -{{ value }} %
                                        {% endblocktrans %}
                                    {% elif current_promotion.method == 'FXD' %}
                                        {% blocktrans trimmed with value=current_promotion.value %}
                                            -{{ value }} <small>crédits</small>
                                        {% endblocktrans %}
                                    {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if product.image %}
                    <div class="product-card-image">
                        <img src="{{ product.image.url }}"
                             alt="{{ product.name }}" />
                    </div>
                {% endif %}

                <div class="product-card-name">
                    {{ product.name }}
                </div>

                <div class="product-card-short-description">
                    {{ product.short_description }}
                </div>

                <div>
                    <span class="lightbox-link" data-lightbox-link="{{ product.slug }}">
                        En savoir plus
                    </span>
                </div>

                <div class="product-card-buy-container">
                    {% if product.has_current_promotion %}
                        <div class="product-card-price-before-promotion">
                            {% blocktrans trimmed with price=product.price %}
                                {{ price }} crédits
                            {% endblocktrans %}
                        </div>
                    {% endif %}

                    {% if user.member.credits < product.price %}
                        <button
                            class="btn"
                            title="{% trans 'Vous n\'avez pas assez de crédit' %}"
                            disabled
                        >
                            {% blocktrans trimmed with price=product.get_final_price %}
                                Acheter ({{ price }} crédits)
                            {% endblocktrans %}
                        </button>
                    {% else %}
                        {% if product.has_current_promotion %}
                            <a href="{% url 'shop.buy-item' product.slug %}" class="btn btn-danger-darken">
                                {% blocktrans trimmed with price=product.get_final_price %}
                                    Acheter ({{ price }} crédits)
                                {% endblocktrans %}
                            </a>
                        {% else %}
                            <a href="{% url 'shop.buy-item' product.slug %}" class="btn btn-primary">
                                {% blocktrans trimmed with price=product.get_final_price %}
                                    Acheter ({{ price }} crédits)
                                {% endblocktrans %}
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </li>
    {% endfor %}
</ul>

{% for product in products %}
    <div class="lightbox" style="display: none;" data-lightbox="{{ product.slug }}">
        <h2>{{ product.name }}</h2>

        <p>
            {{ product.description|safe }}
        </p>

        <p>
            {% blocktrans trimmed %}
                Et n'oubliez pas, en payant sur notre boutique vous permettez au
                serveur de vivre plus longtemps. Et pour ça, nous ne pourrons
                jamais assez vous remercier.
            {% endblocktrans %}
        </p>

        <p>
            {% blocktrans trimmed %}
                <strong>Attention !</strong> Tout achat sur le serveur est
                définitif, aucun remboursement ne peut être effectué. En cas de
                fraude ou d'opposition au paiement illégitime, votre compte sera
                banni définitivement du serveur.
            {% endblocktrans %}
        </p>

        <div class="text-right lightbox-button-container">
            {% if user.member.credits < product.price %}
                <button
                    class="btn"
                    title="{% trans 'Vous n\'avez pas assez de crédit' %}"
                    disabled
                >
                    {% blocktrans trimmed with price=product.get_final_price %}
                        Acheter ({{ price }} credits)
                    {% endblocktrans %}
                </button>
            {% else %}
                <a href="{% url 'shop.buy-item' product.slug %}" class="btn btn-primary">
                    {% blocktrans trimmed with price=product.get_final_price %}
                        Acheter ({{ price }} credits)
                    {% endblocktrans %}
                </a>
            {% endif %}
        </div>
    </div>
{% endfor %}

<script src="{% static 'js/lightbox.js' %}"></script>
