{% load static i18n humanize %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />

        <title>{% spaceless %}
            {% if override_title_tab %}
                {{ override_title_tab }}
            {% else %}
                {% if title_tab %}
                    {% blocktrans trimmed with site_name=site_name %}
                        {{ title_tab }} - {{ site_name }}
                    {% endblocktrans %}
                {% else %}
                    {% blocktrans trimmed with site_name=site_name %}
                        {{ site_name }}
                    {% endblocktrans %}
                {% endif %}
            {% endif %}
        {% endspaceless %}</title>

        {% if description %}
            <meta name="description" content="{{ description }}" />
        {% endif %}

        <link href="{% static 'css/style.css' %}" rel="stylesheet" />

        <link href="{% static 'img/favicon.png' %}"
              rel="icon"
              type="image/png" />

        <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
    </head>

    <body{% if body_classes %} class="{% spaceless %}
             {% for class in body_classes %}
                 {{ class }}
             {% endfor %}
         {% endspaceless %}"{% endif %}>
        <div class="main">
            <header class="header">
                <div class="top-bar">
                    <div class="wrapper">
                        <div class="header-links">
                            <ul class="social-icons">
                                {% if social_twitter_url %}
                                    <li class="social-item">
                                        <a href="{% blocktrans trimmed with social_twitter_url=social_twitter_url %}{{ social_twitter_url}}{% endblocktrans %}" title="Twitter" class="social-item-link">
                                            <img src="{% static 'img/social/twitter.png' %}"
                                                alt=""
                                                class="social-item-icon" />
                                        </a>
                                    </li>
                                {% endif %}

                                {% if social_teamspeak_url %}
                                    <li class="social-item">
                                        <a href="{% blocktrans trimmed with social_teamspeak_url=social_teamspeak_url %}{{ social_teamspeak_url}}{% endblocktrans %}" title="TeamSpeak" class="social-item-link">
                                            <img src="{% static 'img/social/teamspeak.png' %}"
                                                alt=""
                                                class="social-item-icon" />
                                        </a>
                                    </li>
                                {% endif %}

                                {% if social_discord_url %}
                                    <li class="social-item">
                                        <a href="{% blocktrans trimmed with social_discord_url=social_discord_url %}{{ social_discord_url}}{% endblocktrans %}" title="Discord" class="social-item-link">
                                            <img src="{% static 'img/social/discord.png' %}"
                                                alt=""
                                                class="social-item-icon" />
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>

                            <div class="server-ip">
                                {% blocktrans trimmed with minecraft_ip=minecraft_ip %}
                                    {{ minecraft_ip }}
                                {% endblocktrans %}
                            </div>
                        </div>

                        <div class="text-center">
                            {% if is_homepage %}
                                <h1 class="logo">
                                    <a href="{% url 'index' %}">
                                        {% blocktrans trimmed with site_name=site_name %}
                                            {{ site_name }}
                                        {% endblocktrans %}
                                    </a>
                                </h1>
                            {% else %}
                                <div class="logo">
                                    <a href="{% url 'index' %}">
                                        {% blocktrans trimmed with site_name=site_name %}
                                            {{ site_name }}
                                        {% endblocktrans %}
                                    </a>
                                </div>
                            {% endif %}
                        </div>

                        <div class="text-right">
                            {% blocktrans trimmed %}
                                {{ nb_players }} joueurs en ligne
                            {% endblocktrans %}
                        </div>
                    </div>
                </div>

                <nav class="menu">
                    <div class="wrapper">
                        <div class="push-left menu-responsive">
                            <div class="dropdown">
                                <div class="dropdown-toggle menu-link">
                                    {% trans 'Menu' %}
                                </div>

                                <div class="dropdown-menu menu-responsive-menu">
                                    <ul>
                                        <li class="{% if active_tab == 'home' %}menu-item-active{% endif %}">
                                            <a href="{% url 'index' %}">
                                                {% trans 'Accueil' %}
                                            </a>
                                        </li>

                                        <li class="{% if active_tab == 'shop' %}menu-item-active{% endif %}">
                                            <a href="{% url 'shop.index' %}">
                                                {% trans 'Boutique' %}
                                            </a>
                                        </li>

                                        <li>
                                            <div class="dropdown">
                                                <div class="dropdown-toggle">
                                                    <a href="#" class="menu-link">
                                                        {% trans 'Informations' %}
                                                    </a>
                                                </div>

                                                <div class="dropdown-menu">
                                                    <ul>
                                                        <li class="{% if active_tab == 'contact' %}menu-item-active{% endif %}">
                                                            <a href="{% url 'contact' %}">
                                                                {% trans 'Contact' %}
                                                            </a>
                                                        </li>

                                                        <li class="{% if active_tab == 'about' %}menu-item-active{% endif %}">
                                                            <a href="{% url 'about' %}">
                                                                {% trans 'À propos' %}
                                                            </a>
                                                        </li>

                                                        <li class="{% if active_tab == 'staff' %}menu-item-active{% endif %}">
                                                            <a href="{% url 'staff' %}">
                                                                {% trans 'Équipe' %}
                                                            </a>
                                                        </li>

                                                        <li class="{% if active_tab == 'ranking' %}menu-item-active{% endif %}">
                                                            <a href="{% url 'ranking' %}">
                                                                {% trans 'Classement' %}
                                                            </a>
                                                        </li>

                                                        <li class="{% if active_tab == 'youtubers' %}menu-item-active{% endif %}">
                                                            <a href="{% url 'youtubers' %}">
                                                                {% trans 'Youtubeurs' %}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="{% if active_tab == 'recruitments' %}menu-item-active{% endif %}">
                                            <a href="{% url 'recruitments' %}">
                                                {% trans 'Recrutement' %}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="push-left menu-unresponsive">
                            <ul class="menu-items">
                                <li class="menu-item {% if active_tab == 'home' %}menu-item-active{% endif %}">
                                    <a href="{% url 'index' %}" class="menu-link">
                                        {% trans 'Accueil' %}
                                    </a>
                                </li><!--

                                --><li class="menu-item {% if active_tab == 'shop' %}menu-item-active{% endif %}">
                                    <a href="{% url 'shop.index' %}" class="menu-link">
                                        {% trans 'Boutique' %}
                                    </a>
                                </li><!--

                                --><li class="menu-item {% if active_tab == 'informations' %}menu-item-active{% endif %}">
                                    <div class="dropdown">
                                        <div class="dropdown-toggle menu-link">
                                            {% trans 'Informations' %}
                                        </div>

                                        <div class="dropdown-menu">
                                            <ul>
                                                <li class="menu-item {% if active_tab == 'contact' %}menu-item-active{% endif %}">
                                                    <a href="{% url 'contact' %}" class="menu-link">
                                                        {% trans 'Contact' %}
                                                    </a>
                                                </li>

                                                <li class="{% if active_tab == 'about' %}menu-item-active{% endif %}">
                                                    <a href="{% url 'about' %}">
                                                        {% trans 'À propos' %}
                                                    </a>
                                                </li>

                                                <li class="{% if active_tab == 'staff' %}menu-item-active{% endif %}">
                                                    <a href="{% url 'staff' %}">
                                                        {% trans 'Équipe' %}
                                                    </a>
                                                </li>

                                                <li class="{% if active_tab == 'ranking' %}menu-item-active{% endif %}">
                                                    <a href="{% url 'ranking' %}">
                                                        {% trans 'Classement' %}
                                                    </a>
                                                </li>

                                                <li class="{% if active_tab == 'youtubers' %}menu-item-active{% endif %}">
                                                    <a href="{% url 'youtubers' %}">
                                                        {% trans 'Youtubeurs' %}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li><!--

                                --><li class="menu-item {% if active_tab == 'recruitments' %}menu-item-active{% endif %}">
                                    <a href="{% url 'recruitments' %}" class="menu-link">
                                        {% trans 'Recrutements' %}
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="push-right">
                            <ul class="menu-items">
                                {% if user.is_authenticated %}
                                    <li class="menu-item">
                                        <a href="{% url 'shop.buy-credits' %}" class="menu-link">
                                            {% blocktrans trimmed with nb_credits=request.user.member.credits|intcomma %}
                                                {{ nb_credits }} crédits
                                            {% endblocktrans %}
                                        </a>
                                    </li><!--

                                    --><li class="menu-item">
                                        <div class="dropdown">
                                            <div class="dropdown-toggle"
                                                 title="{% trans 'Voir mon compte' %}">
                                                <img
                                                src="https://crafatar.com/avatars/61274a84-f933-4830-a56e-83206505ed7e?size=120" class="menu-avatar" />
                                            </div>

                                            <div class="dropdown-menu dropdown-menu-right">
                                                <ul>
                                                    <li class="menu-item {% if active_tab == 'my_account' %}menu-item-active{% endif %}">
                                                        <a href="{% url 'signin' %}">
                                                            {% trans 'Mon compte' %}
                                                        </a>
                                                    </li>

                                                    <li class="menu-item">
                                                        <a href="{% url 'member.logout' %}">
                                                            {% trans 'Déconnexion' %}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                {% else %}
                                    <li class="menu-item {% if active_tab == 'login_register' %}menu-item-active{% endif %}">
                                        <a href="{% url 'signin' %}" class="menu-link">
                                            {% trans 'Connexion / Inscription' %}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>

                {% if not full_width %}
                    {% block header %}
                        <header class="header-page">
                            <div class="wrapper">
                                <h1>{{ title_page }}</h1>
                            </div>
                        </header>
                    {% endblock %}
                {% endif %}
            </header>

            <section class="section">
                {% if not full_width %}
                    <div class="wrapper">
                {% endif %}

                {% block content %}{% endblock %}

                {% if not full_width %}
                    </div>
                {% endif %}
            </section>

            <footer class="footer">
                <div class="wrapper">
                    <footer>
                        <p>
                              {% blocktrans trimmed with site_name=site_name site_authors=site_authors %}
                                  {{ site_name }}
                                  –
                                  {{ site_authors }}
                                  –
                                  2016 - 2018
                              {% endblocktrans %}
                            | <a href="{% url 'terms-of-sales' %}">{% trans 'Conditions générales de vente' %}</a>
                            | <a href="{% url 'legal-notice' %}">{% trans 'Mentions légales' %}</a>
                            | v{{ site_version }}
                        </p>
                    </footer>
                </div>
            </footer>
        </div>

        <script src="{% static 'js/dropdown.js' %}"></script>
    </body>
</html>
